<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IKitchenRecievingService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8091/SimpleService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IKitchenRecievingService"
          contract="KitchenService.IKitchenRecievingService" name="NetTcpBinding_IKitchenRecievingService">
        <identity>
          <userPrincipalName value="DESKTOP-CDS2Q7J\dLL" />
        </identity>
      </endpoint>
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="WcfOrderService.OrderPlacementService">
        <endpoint address="SimpleService"
                  binding="netTcpBinding"
                  contract="WcfOrderService.IOrderPlacementService"
                  />
        <!--<endpoint address="SimpleService"
                  binding="netTcpBinding"
                  contract="WcfOrderService.IOrderPlacementService2"
                  />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
            <add baseAddress="net.tcp://localhost:8090" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>