<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IOrderPlacementService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/SimpleService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IOrderPlacementService"
                contract="OrderService.IOrderPlacementService" name="NetTcpBinding_IOrderPlacementService">
                <identity>
                    <userPrincipalName value="DESKTOP-CDS2Q7J\dLL" />
                </identity>
            </endpoint>
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WcfKitchenService.KitchenRecievingService">
                <endpoint address="" binding="basicHttpBinding" contract="WcfKitchenService.IKitchenRecievingService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfKitchenService/KitchenRecievingService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
